@import './reset.css';
@import './ukraineFlag/ukraineFlag.scss';

.wrapper {
    padding: 20px;
}

.flag-container {
    border: 1px solid rgb(187, 187, 187);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        }
    }
    width: 300px;
    height: 200px;
    &.iceland {
        height: 216px;
    }
    &:not(:last-of-type) {
        margin-bottom: 30px;
    }
}